alembic==0.9.3.dev0
apturl==0.5.2
asgiref==3.2.10
asn1crypto==0.24.0
Babel==2.4.0
blinker==1.4
Brlapi==0.6.6
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.7
command-not-found==0.3
cryptography==2.1.4
cupshelpers==1.0
defer==1.0.6
dj-database-url==0.5.0
Django==3.1.2
gunicorn==20.0.4
psycopg2==2.8.6
whitenoise==5.2.0
